<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/assets/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon" />
    <title>petitChef</title>
  </head>
  <body>
    <section id="mirror">
      <nav>
        <form action="" method="get">
          <input type="search" name="" id="" placeholder="Rechercher" />
        </form>
      </nav>
      <div class="mirror-body text-center">
        <img src="/assets/img/favicon.png" alt="" style="width:12em;"/>
        <p>
          Les recettes du petit chef !!!
        </p>
        </a>
      </div>
    </section>

    <section id="social-link">
      <a href="www.facebook.com" target="onglet1">
        <img src="/assets/img/facebook.svg" alt="logo facebook" />
      </a>
      <a href="www.instagram.com" target="onglet2">
        <img src="/assets/img/instagram.svg" alt="logo instagram" />
      </a>
      <a href="www.youtube.com" target="onglet3">
        <img src="/assets/img/youtube.svg" alt="logo youtube" />
      </a>
    </section>


    <section id="articles">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
            <div class="card article">
                <img class="card-img-top" src="assets/upload/food-712665_1920.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title hide">Recette</h4>
                  <p class="card-text  hide">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptatibus.
                  </p>
                  <div class="text-center">
                    <button class="btn btn-primary">Détails</button>
                  </div>
                </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
              <div class="card article">
                  <img class="card-img-top" src="assets/upload/food-715542_1920.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title hide">Recette</h4>
                    <p class="card-text  hide">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptatibus.
                    </p>
                    <div class="text-center">
                      <button class="btn btn-primary">Détails</button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                <div class="card article">
                    <img class="card-img-top" src="assets/upload/noodles-3559956__340.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h4 class="card-title hide">Recette</h4>
                      <p class="card-text  hide">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptatibus.
                      </p>
                      <div class="text-center">
                        <button class="btn btn-primary">Détails</button>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
                  <div class="card article">
                      <img class="card-img-top" src="assets/upload/food-712665_1920.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h4 class="card-title hide">Recette</h4>
                        <p class="card-text  hide">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, voluptatibus.
                        </p>
                        <div class="text-center">
                          <button class="btn btn-primary">Détails</button>
                        </div>
                      </div>
                    </div>
                </div>
        </div>
      </div>
    </section>
    <section id="publy">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 p-3 text-center align-self-center">
          <h2>Un catalogue de recettes bien garni</h2>
          <p></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img src="/assets/img/bananas-282313_1920.jpg" alt="" class="w-100" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <img src="/assets/img/ice-1786311_1920.jpg" alt="" class="w-100" />
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center align-self-center">
          <h2>Pleins d'astuces de cuisine</h2>
          <p></p>
        </div>
      </div>
    </section>

    <section id="inscription">
      <h2>Contribuez en laissant un petit mot !</h2>
      <form action="contribution" method="post">
        <label for="email">Email</label><br />
        <input type="email" name="email" id="" /><br />
        <textarea name="commentaire" id="" rows="4"></textarea>
        <input type="submit" value="Valider" />
      </form>
    </section>

    <footer>
      <div class="container">
        <div class="text-center">
          <img src="/assets/img/favicon.png" alt="logo officiel" style="width:8em; max-width:100%;"/>
        </div>
        <div class="newsletter">
          <form action="" method="POST">
            <h3>Abonnez-vous à la newsletter:</h3>
            <input type="text" name="nom" id="" placeholder="Nom" />
            <input
              type="text"
              name="prenoms"
              id=""
              placeholder="Prénoms"
            /><br />
            <input type="email" name="email" id="" placeholder="Email" /><br />
            <input type="submit" value="Envoyer" />
          </form>
        </div>
        <div class="row outils mt-5">
          <div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <ul>
              <h3>Outils</h3>
              <li>S'inscrire</li>
              <li>Se connecter</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <ul>
              <h3>A propos</h3>
              <li>Comment ça marche</li>
              <li>Politique de confidentialité</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 col-md-4">
            <ul>
              <h3>Contacts</h3>
              <li>Téléphone: +225 89367542</li>
              <li>Email: nonwa.fabrice07@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
        Se connecter au support
      </button>
        </div>
      </div>
      <small>Designed by <span>Full Stack</span></small>
    </footer>

<!-- connexion's modals -->
      <!-- Button trigger modal -->
      
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Connexion Administrateur</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body text-center">
              <form action="authentification" method="POST">
                <label for="email">Email</label>
                <input type="email" name="emamil" id="" /><br>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="" /><br>
                <input type="submit" class="btn btn-success btn-block" value="Se connecter" />
              </form>
            </div>
          </div>
        </div>
      </div>

      <script src="/assets/lib/jquery-3.3.1.min.js"></script>
      <script src="/assets/lib/jquery-slim.min.js"></script>
      <script src="/assets/lib/popper.min.js"></script>
      <script src="/assets/lib/bootstrap.min.js"></script>
      <script src="/assets/js/script.js"></script>
  </body>
</html>
